* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: Poppins, sans-serif;
}

body {
  background: #eef1f7;
}

.container {
  display: flex;
  min-height: 100vh;
}

.main {
  flex: 1;
  padding: 25px;
}

/* SIDEBAR */

.sidebar {
  width: 300px;
  background: linear-gradient(to bottom, #163b97, #2249ad);
  padding: 30px 20px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  color: white;
}

.logo-side h2 {
  font-size: 28px;
}

.logo-side p {
  font-size: 12px;
  opacity: 0.7;
}

.sidebar ul {
  list-style: none;
  margin-top: 40px;
}

.sidebar li {
  margin-bottom: 15px;
  border-radius: 10px;
}

.sidebar li a {
  color: white;
  text-decoration: none;
  display: flex;
  gap: 10px;
  padding: 14px;
  font-weight: bold;
}

/* TOPO */

.topbar {
  background: #24439d;
  color: white;
  margin: -25px -25px 25px -25px;
  padding: 15px 30px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.icons {
  display: flex;
  align-items: center;
  gap: 20px;
}

.icons a i {
  color: white;
}

.user-top {
  display: flex;
  align-items: center;
  gap: 10px;
}

/* FOTO */

.foto-wrapper {
  position: relative;
}

.user-top img,
.perfil img {
  width: 40px;
  height: 40px;
  border-radius: 50%;
  object-fit: cover;
}

.online {
  width: 12px;
  height: 12px;
  border-radius: 50%;
  background: #22c55e;
  border: 2px solid white;
  position: absolute;
  bottom: 2px;
  right: 2px;
}

/* MENU */

.menu-ativo {
  color: #22c55e !important;
  font-weight: 600;
}

.menu-ativo i {
  color: #22c55e !important;
}

.active-icon {
  color: #22c55e !important;
}

/* RESPONSIVO */

@media (max-width: 1000px) {
  .sidebar {
    display: none;
  }
}
